{% extends "Layout.html" %}
{% block title %}Login{% endblock %}
{% block header%}


{% endblock %}

{% block content %}
<br><br/><br/><br/><br/>
<div class="container" >
             <h2> LOGIN ADMIN: {{msg}} </h2>
  <form action="/Login" class="form" method="post">
        <div class="form">
             <label for="email">Email:</label>
             <input type="email" class="form-control" id="email" placeholder="Enter email" name="email_id">
        </div>
        <div class="form">
             <label for="password">Password:</label>
             <input type="password" class="form-control" id="password" placeholder="Enter password" name="pass_word">
        </div>
        <div class="form">
              <label><input type="checkbox" name="remember"> Remember me</label>
        </div>
      <div class="form">
          <button  type="submit" class="btn-btn-default">Login</button>
          </div>
  </form>
</div>
<br/>



{% endblock %}




{%block footer%}



<footer class="footer"  style="height:400px">
    <h2 class="widget-title" align="center">About us:</h2>
    <div style="float:left">
    <img src="{{ url_for('static', filename='images/img2.jpg')}}" style="border-radius:20px;" class="img-circle " width="200" height="200">
    </div>
    <div>
    <h4 style="color:white;">Developer : NIKHIL SINGH</h4>
    <h4 style="color:white;">Organiser : Gist-technosolutions</h4>
    </div>
    <h5 style="color:white;">mob : 7974971299</h5>
    <h5 style="color:white;">email : nikhil8271768371@gmail.com</h5>
    <h6 style="color:white;">15 dec 2019</h6>


</footer>


{% endblock %}
